<p>New ride</p>
<div>
    <form [formGroup]="bookingForm" (ngSubmit)="onSubmit(bookingForm.value)">
        <div>
            <label for="">Pickup Time</label>
            <select formControlName = "pickupTime" name="" id="" [(ngModel)]="defaultPickupTime" (change) = "loadVehicles(vehicleType.value)">
                <option value="00:00" disabled>--Select--</option>
                <option *ngFor="let time of pickupTimeArr" [value]="time">{{time}}</option>
            </select>
        </div>
        <div>
            <label for="">Pickup Location</label>
            <select formControlName = "pickupLocation" name="" #pickupLocation [(ngModel)]="defaultPickupLocation"  (change) = "loadVehicles(vehicleType.value); pickupLocationChange(pickupLocation, dropLocation)">
                <option value="--Select--" disabled>--Select--</option>
                <option *ngFor="let location of locationArr" [value]="location">{{location}}</option>
            </select>
        </div>
        <div>
            <label for="">Drop Location</label>
            <select formControlName = "dropLocation" name="" #dropLocation [(ngModel)]="defaultDropLocation"  (change) = "loadVehicles(vehicleType.value); dropLocationChange(dropLocation, pickupLocation)">
                <option value="--Select--" disabled>--Select--</option>
                <option *ngFor="let location of locationArrD" [value]="location">{{location}}</option>
            </select>
        </div>
        <div>
            <label for="">Vehicle Type</label>
            <select formControlName = "vehicleType" name="" #vehicleType (change) = "loadVehicles(vehicleType.value)" [(ngModel)]="defaultVehicleType">
                <option value="--Select--" disabled>--Select--</option>
                <option value="any">Any Vehicle Type</option>
                <option *ngFor="let vehicleType of vehicleTypeArr" [value]="vehicleType">{{vehicleType}}</option>
            </select>
        </div>
        <div>
            <label for="">Vehicle Model</label>
            <select formControlName = "vehicleModel" name="" id="" [(ngModel)]="defaultVehicle">
                <option value="--Select--" disabled>--Select--</option>
                <option *ngFor="let vehicle of vehicleArr" [ngValue]="vehicle" >{{vehicle.vehicleModel}}</option>
            </select>
        </div>
        <div>
            <button type="submit">Book</button>
        </div>
    </form>
</div>
