<p>Login</p>
<div>
    <form [formGroup]="loginForm" (ngSubmit) = "onSubmit(loginForm.value)">
        <div>
            <input type="text" formControlName="employeeId">
            <div *ngIf="submitted && loginForm.controls.employeeId.errors">
                Enter your employee ID
            </div>
        </div>
        <div>
            <input type="password"  formControlName="password" name="" id="">
            <div *ngIf="submitted && loginForm.controls.password.errors">
                Enter your password
            </div>
        </div>
        <div>
            <button type="submit" >Login</button>
        </div>
    </form>
</div>
